{% extends 'base.html' %}
{% load static %}
{% block title %}Contact - LinkedTrust{% endblock %}
{% block content %}
<div class="contact-container-body">
    <div class="contact-container">
        <div class="contact-info">
            <h3>Talk to us!</h3>

            <div class="contact-detail">
                <i class="fa-solid fa-envelope"></i>
                <p>connect@linkedtrust.us</p>
            </div>

            <div class="contact-detail">
                <i class="fa-solid fa-phone"></i>
                <p>520-440-1420</p>
            </div>

            <div class="contact-detail">
                <i class="fa-solid fa-calendar"></i>
            <p>Or, <a href="https://calendar.app.google/w5x1T7vmd1gQxubq8" class="calendar-link">schedule a free 30-minute consultation with one of our principals</a></p>
<style>
.calendar-link {
    border-bottom: none !important;
}
.calendar-link:hover {
    border-bottom: none !important;
}
</style>
            </div>

        </div>

        <div class="contact-form-section">

<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe7RTFJrBjuHifkwA_hldmmlOlzlH0BGnNWZ8LbxDiSCJe5Jg/viewform?embedded=true" width="100%" height="879" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

        </div>
    </div>
</div>
{% endblock %}
