{% load static %}
<footer>
    <div class="footer-main">
        <div class="footer-about">
            <div class="footer-logo">
                <img src="{% static 'img/logo.svg' %}" alt="LinkedTrust Logo">
                <span>LinkedTrust</span>
            </div>
            <h3>About</h3>
            <p>Key work on LinkedTrust open technologies has been performed by What's Cookin' Inc, a Public Benefit
                corporation that shares equity with builders and investors via smart tokens over future liquidity.
            </p>
        </div>
        <div class="footer-links">
            <h3>More Info</h3>
            <ul>
                <li><a href="#">High level overview</a></li>
                <li><a href="#">Community blog</a></li>
                <li><a href="#">Products & Companies blog</a></li>
                <li><a href="#">In the news on the air</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3>Contact</h3>
            <ul>
                <li><a href="https://whatscookin.us/contact-us/" target="_blank">Contact us</a></li>
                <li><a href="https://app.whatscookin.us/circle/whatscookin" target="_blank">Community</a></li>
                <li><a href="#">Invest</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-secondary">
        <div class="powered-by">
            <h4>Powered by Ceramic</h4>
            <a href="https://ceramic.network/" target="_blank" style="color: #000;">
                <div class="ceramic-logo">
                    <img src="{% static 'img/ceramic.png' %}" alt="">
                    <span>Ceramic</span>
                </div>
            </a>
        </div>
        <div class="subscribe">
            <form>
                <input type="email" placeholder="Email">
                <button type="submit">Subscribe</button>
            </form>
        </div>
    </div>
    <div class="copyright-section">
        <div class="copy-line"></div>
        <div class="social-icons">
            <a href="#" aria-label="Instagram">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" aria-label="YouTube">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="#" aria-label="Bluesky">
                <div id="footer_social_icon_img">
                    <img src="{% static 'img/bluesky.png' %}" alt="">
                </div>
            </a>
            <a href="#" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="#" aria-label="Fediverse">
                <div id="footer_social_icon_img">
                    <img src="{% static 'img/fediverse.png' %}" alt="">
                </div>
            </a>
        </div>
        <div class="copyright">
            All rights reserved © <span id="currentYear"></span>
        </div>
    </div>
</footer>