{% load static %}
<footer>
        <hr>
    <div class="footer-main">
        <div class="footer-about">
            <p>Key work on LinkedTrust open technologies has been performed by What's Cookin' Inc, a Public Benefit
                corporation that shares equity with builders and investors via smart tokens over future liquidity.
            </p>
        </div>
    </div>
    <div class="copyright-section">
        <div class="copy-line"></div>
        <div class="social-icons">
            <a href="https://bsky.app/profile/linkedtrust.bsky.social" target="_blank" aria-label="Bluesky">
                <div id="footer_social_icon_img">
                    <img src="{% static 'img/bluesky.png' %}" alt="">
                </div>
            </a>
            <a href="https://www.linkedin.com/company/linkedtrust" target="_blank" aria-label="LinkedIn">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://mas.to/@gvelez17" target="_blank" aria-label="Fediverse">
                <div id="footer_social_icon_img">
                    <img src="{% static 'img/fediverse.png' %}" alt="">
                </div>
            </a>
        </div>
        <div class="copyright">
            All rights reserved © <span id="currentYear"></span>
        </div>
    </div>
</footer>
