{% load static %}
<footer>
    <div class="footer-main">
        <div class="footer-about">
            <div class="footer-logo">
                <img src="{% static 'img/logo.svg' %}" alt="LinkedTrust Logo">
                <span>LinkedTrust</span>
            </div>
            <h3>About</h3>
            <p>Key work on LinkedTrust open technologies has been performed by What's Cookin' Inc, a Public Benefit
                corporation that shares equity with builders and investors via smart tokens over future liquidity.
            </p>
        </div>
        <div class="footer-links">
            <h3>More Info</h3>
            <ul>
                <li><a href="#">High level overview</a></li>
                <li><a href="#">Community blog</a></li>
                <li><a href="#">Products & Companies blog</a></li>
                <li><a href="#">In the news on the air</a></li>
            </ul>
        </div>
        <div class="footer-contact">
            <h3>Contact</h3>
            <ul>
                <li><a href="https://whatscookin.us/contact-us/" target="_blank">Contact us</a></li>
                <li><a href="https://app.whatscookin.us/circle/whatscookin" target="_blank">Community</a></li>
                <li><a href="#">Invest</a></li>
            </ul>
        </div>
    </div>
    <div class="footer-secondary">
        <div class="powered-by">
            <h4>Powered by Ceramic</h4>
            <a href="https://ceramic.network/" target="_blank" style="color: #000;">
                <div class="ceramic-logo">
                    <img src="{% static 'img/ceramic.png' %}" alt="">
                    <span>Ceramic</span>
                </div>
            </a>
        </div>
        <div class="subscribe">
            <form>
                <input type="email" placeholder="Email">
                <button type="submit">Subscribe</button>
            </form>
            <div class="social-media">
                <h4>Social Media</h4>
                <div class="social-icons">
                    <a href="https://mas.to/@gvelez17">
                        <img src="{% static 'img/m.png' %}" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <p>All rights reserved © 2021</p>
    </div>
</footer>