{% extends 'base.html' %}
{% load static %}
{% block title %}Get Started with LinkedTrust{% endblock %}
{% block content %}


<div class="getstarted-container">
    <h3>Getting started with LinkedTrust</h3>

    <div class="getstarted-row">
        <div class="getstarted-holder">
            <div class="get-started-card">
                <div class="get-started-image">
                    <img src="{% static 'img/Media.png' %}" alt="Get started step 1">
                </div>
                <div class="get-started-details">
                    <div class="get-started-text">
                        <h4>Headline</h4>
                        <span>Subhead</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima?</p>
                    </div>
                    <a href="#" class="cta-button">Button</a>
                </div>
            </div>
        </div>
        <div class="getstarted-holder">
            <div class="get-started-card">
                <div class="get-started-image">
                    <img src="{% static 'img/Media.png' %}" alt="Get started step 2">
                </div>
                <div class="get-started-details">
                    <div class="get-started-text">
                        <h4>Headline</h4>
                        <span>Subhead</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima?</p>
                    </div>
                    <a href="#" class="cta-button">Button</a>
                </div>
            </div>
        </div>
        <div class="getstarted-holder">
            <div class="get-started-card">
                <div class="get-started-image">
                    <img src="{% static 'img/Media.png' %}" alt="Get started step 3">
                </div>
                <div class="get-started-details">
                    <div class="get-started-text">
                        <h4>Headline</h4>
                        <span>Subhead</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, minima?</p>
                    </div>
                    <a href="#" class="cta-button">Button</a>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}