{% extends 'base.html' %}
{% load static %}
{% block title %}About(team) - LinkedTrust{% endblock %}
{% block content %}
<section class="about_intro_section">
    <div class="about_intro_container">
        <h2>Our Team</h2>
        <p>Meet our exceptional team of dedicated professionals, driven by a shared passion for innovation and
            collaboration, as we strive to make a positive impact in every project we undertake.</p>
    </div>
</section>

<section class="person_section">
    <div class="row">
        <div class="card">
            <img src="{% static 'img/golda.png' %}" alt="">
            <h3>Golda Velez</h3>
            <p>Executive Advisor</p>
            <p>More generally an Architect, Communicator and Sr Software Engineer interested in human rights advocacy,
                advising startups, tech for good, politics, writing. Interested in chatting/writing about/collaborating
                on any project that makes positive systemic change.</p>
        </div>

        <div class="card">
            <img src="{% static 'img/gitonga.jpeg' %}" alt="">
            <h3>Gitonga</h3>
            <p>Chief Product Officer</p>
            <p>
                I love coming up with solutions to solve problems in society through IT as a Developer. I
                Committed and results-driven full Stack Developer with high-level expertise in software development and
                a deep understanding of the Software Development Life Cycle. I have a history of repeated success in
                directing projects from inception to execution by strategically allocating resources and delegating
                tasks to achieve on-time, on-budget delivery.
                Through running our family business which provides office workers with clothing and accessories.
                I acquired skills to enhance those that I learned in school.
                I am becoming a valuable engineer.
            </p>
        </div>
        <div class="card">
            <img src="{% static 'img/peter.jpeg' %}" alt="">
            <h3>Peter B. A.</h3>
            <p>Full Stack</p>
            <p>Adept at designing and implementing RESTful APIs and microservices architectures, building scalable
                fullstack application and robust mobile backend development, as well as optimizing databases for high
                performance and reliability. I also has expertise in cloud computing platforms such as AWS, Azure, and
                GCP, and is experienced in deploying and managing applications.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/spiderman.jpeg' %}" alt="">
            <h3>Orjiene Kenechukwu</h3>
            <p>Software Developer</p>
            <p>I am a problem solver, with skills in frontend and backend. I enjoy integrating different components to
                create seamless, efficient applications. I am particularly drawn to the company's emphasis on a CAN DO
                attitude and taking on challenges head-on, as I thrive in environments that encourage continuous
                learning and problem-solving. </p>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <img src="{% static 'img/rishabh.jpeg' %}" alt="">
            <h3>Rishabh</h3>
            <p>UI/UX Desígner</p>
            <p>Driven by a love for innovation and continuous learning, I stay up to date with the latest web
                technologies and design trends. I’m dedicated to building visually appealing, interactive, and
                performance-optimized websites and applications that enhance usability and meet business objectives.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/amos.jpeg' %}" alt="">
            <h3>Amos Mwangi</h3>
            <p>Full Stack</p>
            <p>I am a web developer with expertise in Node.js,
                PostgreSQL and React. I am also skilled in
                WordPress development and UI/UX design. With a
                background in graphic design, social media
                management,and data entry, I’m passionate about tech
                innovation.</p>
        </div>

        <div class="card">
            <img src="{% static 'img/romeo.jpeg' %}" alt="">
            <h3>Ezeugwu Romanus</h3>
            <p>Frontend Developer</p>
            <p>As a Front-end Engineer with extensive experience, a keen interest in technology is complemented by a
                specialized skill set in designing and developing contemporary web interfaces. Leveraging the latest
                front-end technologies, including Next.js, and incorporating Rust for system development, the focus is
                on creating intuitive and engaging digital experiences for users.</p>
        </div>

        <div class="card">
            <img src="{% static 'img/ahmed.jpeg' %}" alt="">
            <h3>Ahmed Abdelmenam</h3>
            <p>Full-Stack </p>
            <p>I have three years of hands-on experience efficiently coding websites and applications using modern
                HTML, CSS, JavaScript, react, Next, NodeJs, firebase, Redux, and material UI.
                Building state-of-the-art, easy-to-use, user-friendly websites, and applications is truly a passion of
                mine. In addition to my knowledge base, I actively seek out new technologies and stay up-to-date on
                industry trends and advancements. This has allowed me to stay ahead of the curve and deliver exceptional
                work to all of my employers</p>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <img src="{% static 'img/moka.jpeg' %}" alt="">
            <h3>Moka</h3>
            <p>Frontend Developer</p>
            <p>As a passionate front-end developer, I specialize in creating dynamic, user-friendly web interfaces that
                deliver exceptional user experiences. With a strong foundation in HTML, CSS, and JavaScript, I bring
                designs to life with seamless responsiveness and functionality across devices. I have experience working
                with modern frameworks like React, Vue.js, and have a keen eye for clean, efficient code.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/marwan.jpeg' %}" alt="">
            <h3>Marwan Fouz</h3>
            <p>Full-Stack</p>
            <p>I'm a fast learner with good work ethics, I have developed proficiency in HTML, CSS, JavaScript, python,
                oop, c, React, redux and SQL. I have applied my knowledge and skills to complete several successful
                projects. my ability to quickly acquire new skills and effectively apply them to real-world scenarios
                sets me apart from other candidates. my passion for web development and willingness to continuously
                learn and grow make me an asset to any team. Employers seeking a motivated and dynamic individual with a
                strong technical foundation in web development should definitely consider me for a position on their
                team.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/molly.jpeg' %}" alt="">
            <h3>Ahlam Sayed</h3>
            <p>UI UX Designer</p>
            <p>A passionate designer aspiring to pursue an endless learning opportunities experienced in UI/UX
                development with interest in all fields of technologies, also I have 2 years of experience as an UI UX
                Designer and 6 months of them as a project manager.</p>
        </div>

        <div class="card">
            <img src="{% static 'img/amr.jpeg' %}" alt="">
            <h3>Amr Nabel</h3>
            <p>Frontend developer</p>
            <p>I am a Software Engineer experienced in Frontend Development I have experience working with HTML, CSS,
                JavaScript, TypeScript, React, Redux and Material UI and I have one year of experience working remotely
                with tech companies as a Frontend Engineer.</p>
        </div>


    </div>

    <div class="row">
        <div class="card">
            <img src="{% static 'img/Kholoud.jpeg' %}" alt="">
            <h3>Kholoud Fattem</h3>
            <p>Backend Developer</p>
            <p>Skilled in developing web applications and systems, profficient in JavaScript,
                TypeScript, Nodejs, and Express.js and Nestjs frameworks. Expreienced in full-stack development
                including React and NextJs, with a strong understanding of software design principles and databases,
                Data structures, and Algorithms.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/muhammad.jpg' %}" alt="">
            <h3>Muhammad Hany</h3>
            <p>Frontend developer</p>
            <p>Dynamic and driven Full-Stack Developer with a solid 1-2 years of hands-on experience in crafting
                high-quality, scalable web solutions. Expert in utilizing a diverse tech stack including React, HTML,
                CSS, JavaScript, Firebase, Cloudflare, Material-UI (MUI), and Node.js. Demonstrates a keen aptitude for
                creating responsive and user-friendly interfaces, coupled with robust back-end functionalities. Adept at
                leveraging Firebase for seamless back-end services and Cloudflare for enhanced performance and security.
                Proficient in integrating Material-UI for a polished and intuitive user interface. Exhibits a strong
                problem-solving mindset, thriving on tackling complex challenges in web development. Committed to
                producing clean, efficient, and maintainable code. An enthusiastic team collaborator, always seeking to
                contribute to project success while continuing to grow and evolve in the dynamic landscape of full-stack
                web development.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/emmanuel.jpeg' %}" alt="">
            <h3>Emmanuel Umoren</h3>
            <p>UI/UX Desígner</p>
            <p>Senior UI/UX Designer with 4+ years of experience designing and developing user-friendly and visually
                appealing digital products and 1 year in Product Management with a solid background in frontend
                development. My design philosophy is rooted in user centricity, aimed to enhance user experiences while
                driving business goals. Proven ability to lead and mentor cross-functional teams to deliver high quality
                products on time and within a reasonable budget. An expertise in user-research, wireframing,
                prototyping, Ul design, UX design and responsive web app designs.</p>
        </div>
        <div class="card">
            <img src="{% static 'img/anuja.jpeg' %}" alt="">
            <h3>Anuja Chivate</h3>
            <p>Software Engineer</p>
            <p>I have 4+ years of hands-on industry experience efficiently coding websites and applications using modern
                HTML, CSS, JavaScript, React.js, Next.js, Node.js. I actively seek out new technologies and stay
                up-to-date on industry trends and advancements.</p>
        </div>
    </div>

    <div class="row">
        <div class="card">
            <img src="{% static 'img/omar.jpeg' %}" alt="">
            <h3>Omar Salah</h3>
            <p>Full-stack</p>
            <p>Developer with 2+ years of experience building modern web applications. Adept at both
                front-end development using React.js and Next.js, and back-end development with Node.js and
                TypeScript.Eager to leverage my full-stack skills in a collaborative team environment to create
                innovative web solutions.</p>
        </div>


        <div class="card">
            <img src="{% static 'img/caro.png' %}" alt="">
            <h3>Carolina Sanchez</h3>
            <p>UX/UI Designer </p>
            <p>I am an audacious visionary and creative problem solver with a deep interest in behavioral sciences,
                neuroscience, and how technology is changing everything.</p>

        </div>


        <div class="card">
            <img src="{% static 'img/omareloui.jpeg' %}" alt="">
            <h3>Omar Eloui</h3>
            <p>Frontend developer</p>
            <p>I am an experienced Full-Stack Software Engineer with a proven track record in designing and building
                highly scalable, fault-tolerant distributed systems. With a strong foundation in system design
                principles, I excel at crafting robust and efficient solutions that meet the demands of complex
                applications. My expertise extends to both backend and frontend development, allowing me to contribute
                to the full development lifecycle. Additionally, I have hands-on experience as a frontend developer,
                further enhancing my ability to create comprehensive and user-friendly software solutions. My skills in
                DevOps practices enable me to streamline software delivery and maintenance processes.</p>
        </div>

        <div class="card">
            <img src="{% static 'img/Hedra.jpeg' %}" alt="">
            <h3>Hedra Atef</h3>
            <p>Frontend developer</p>
        </div>
    </div>
</section>
{% endblock %}